<at.co.ait.web.common.Settings>
	<userprefs>
		<entry>
			<string>superuser</string>
			<at.co.ait.web.common.UserPreferences>
				<username>superuser</username>
				<password>superuser</password>
				<roles>
					<string>ROLE_USER</string>
					<string>ROLE_ADMIN</string>
				</roles>
				<basedirectory>file://mnt/nfs-demeter/upload/providers</basedirectory>
				<workdirectory>file://mnt/nfs-demeter/preingest/aip-temp</workdirectory>
			</at.co.ait.web.common.UserPreferences>
		</entry>
		<entry>
			<string>rbge</string>
			<at.co.ait.web.common.UserPreferences>
				<username>rbge</username>
				<password>rbge</password>
				<roles>
					<string>ROLE_USER</string>
				</roles>
				<basedirectory>file://mnt/nfs-demeter/upload/providers/uk-rbge</basedirectory>
				<workdirectory>file://mnt/nfs-demeter/preingest/aip-temp/uk-rbge</workdirectory>
			</at.co.ait.web.common.UserPreferences>
		</entry>
		<entry>
			<string>local</string>
			<at.co.ait.web.common.UserPreferences>
				<username>local</username>
				<password>local</password>
				<roles>
					<string>ROLE_USER</string>					
				</roles>
				<basedirectory>file:///C:/ProjectData/BHL-Europe/UnitTestResources</basedirectory>
				<workdirectory>file:///C:/ProjectData/BHL-Europe/UnitTestResourcesTmp</workdirectory>
			</at.co.ait.web.common.UserPreferences>
		</entry>
	</userprefs>
</at.co.ait.web.common.Settings>